@model System.Collections.Generic.List<ASPNET108.Models.Movie>

@{
    ViewBag.Title = "title";

    var moviesInCart = Session["cart"] as Dictionary<int,string>;

    var mIdInCart = new List<int>();

    if (moviesInCart != null) {
        foreach (KeyValuePair<int, string> item in moviesInCart)
        {
            mIdInCart.Add(item.Key);
        }
    }
}


<div>
    <h1>電影列表</h1>

    <a href="/Movies/New" class="btn btn-primary" role="button">新增電影</a> <br /><br />

    <table id="movies" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>片名</th>
                <th>加入租片清單</th>
                <th>類型</th>
                <th>庫存量</th>
                <th>刪除影片</th>
            </tr>
        </thead>

        <tbody>

            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(
                            movie.Name,
                            "Edit",
                            "Movies",
                            new {id = movie.Id},
                            null)
                        
                        @if (mIdInCart.Contains(movie.Id))
                        {
                            <img src="~/Content/images/clicked.png" alt="選取">
                            
                        }
                    </td>
                    <td>
                        <button data-movie-id="@movie.Id" class="btn btn-success btn-sm js-add-movie">加入</button>
                        &nbsp;
                        <button data-movie-id="@movie.Id" class="btn btn-danger btn-sm js-remove-movie">移除</button>
                    </td>
                    <td>
                        @movie.Genre.Name
                    </td>
                    <td>
                        @movie.NumberInStocks
                    </td>
                    <td>
                        <button data-movie-id="@movie.Id" class="btn-link js-delete">刪除</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts
{
    <script>

        $(document).ready(function () {

            $("#movies").on("click",
                ".js-add-movie",
                function() {
                    window.location.href = "/rentals/cartAdd/" + $(this).attr("data-movie-id");
                }
            );

            $("#movies").on("click",
                ".js-remove-movie",
                function() {
                    window.location.href = "/rentals/cartRemove/" + $(this).attr("data-movie-id");
                }
            );


            $("#customers").DataTable({
                language:
                {
                    "url":"/localization/Chinese.json"
                }
            });

            $(".js-delete").on("click",
                function() {
                    if (confirm("確認要刪除嗎?")) {
                        var button = $(this);

                        $.ajax({
                            url: "/movies/delete/" + button.attr("data-movie-id"),
                            method: "post",
                            success: function() {
                                button.parents("tr").remove();
                                location.reload();
                            },
                            fail: function() {
                                alert("執行失敗....");
                            }
                        });
                    }
                }
            );
        });
    </script>

}
